<!DOCTYPE html>
<html lang="en" class="">
<head>
  

</head>
<body>

<div id="app">

    <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item mobile-aside-button">
            <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
          </a>
          <div class="navbar-item">
            <div class="control"><input placeholder="Rechercher..." class="input"></div>
          </div>
        </div>
        <div class="navbar-brand is-right">
          <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item dropdown has-divider">
       
              <div class="navbar-dropdown">
                <a href="profile" class="navbar-item">
                  <span class="icon"><i class="mdi mdi-account"></i></span>
                  <span>My Profile</span>
                </a>
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-settings"></i></span>
                  <span>Settings</span>
                </a>
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-email"></i></span>
                  <span>Messages</span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-logout"></i></span>
                  <span>Log Out</span>
                </a>
              </div>
            </div>
            <div class="navbar-item dropdown has-divider has-user-avatar">
              <a class="navbar-link">
                <div class="user-avatar">
                    <img src="https://avatars.dicebear.com/v2/initials/admin.svg" alt="John Doe" class="rounded-full">
                </div>
                <div class="is-user-name"><span>Admin</span></div>
                <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
              </a>
              <div class="navbar-dropdown">
                <a href="profile" class="navbar-item active">
                  <span class="icon"><i class="mdi mdi-account"></i></span>
                  <span>My Profile</span>
                </a>
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-settings"></i></span>
                  <span>Settings</span>
                </a>
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-email"></i></span>
                  <span>Messages</span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon"><i class="mdi mdi-logout"></i></span>
                  <span>Log Out</span>
                </a>
              </div>
            </div>
       
            <a title="Log out" class="navbar-item desktop-icon-only">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </nav>
      

<aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div>
      Espace Administrateur <b class="font-black"></b>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="active">
          <a href="index.html">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul class="menu-list">
          <li class="--set-active-profile-html">
              <a href="profile">
                <span class="icon"><i class="mdi mdi-account-circle"></i></span>
                <span class="menu-item-label">Profile</span>
              </a>
            </li>
  
        <li class="--set-active-tables-html">
          <a href="users">
            <span class="icon"><i class="mdi mdi-table"></i></span>
            <span class="menu-item-label">Comptes utilisateurs</span>
          </a>
        </li>
        <li class="--set-active-forms-html">
          <a href="utilisateurs">
            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
            <span class="menu-item-label">Gestion des utilisateurs</span>
          </a>
        </li>
        <li class="--set-active-forms-html">
          <a href="commandes">
            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
            <span class="menu-item-label">Gestion des commandes</span>
          </a>
        </li> 
      
        <li class="--set-active-forms-html">
          <a href="coupons">
            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
            <span class="menu-item-label">Gestion des coupons</span>
          </a>
        </li>
        <li>
          <a href="/login">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">Deconnecté</span>
          </a>
        </li>
   
      </ul>
      <p class="menu-label">About</p>
      <ul class="menu-list">
   
        <li>
          <a href="https://justboil.me/tailwind-admin-templates" class="has-icon">
            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
            <span class="menu-item-label">About</span>
          </a>
        </li>
      
      </ul>
    </div>
  </aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>utilisateurs</li>
    </ul>
 
  </div>
</section>
 

  <section class="section main-section">
 
    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          utilisateurs
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>


      </header>
      <div class="card-content">
        <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Âge</th>
                <th>Date d'inscription</th>
                <th>Statut
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Nom">Helali</td>
                <td data-label="Prénom">Amal</td>
                <td data-label="Adresse">amalhelali@gmail.com</td>
                <td data-label="Âge">24</td>
                <td data-label="Created">
                  <small class="text-gray-500" title="Mar 7, 2021">Mar 12, 2021</small>
                </td>
                <td data-label="statut">          <div class="field">
 
                    <div class="field-body">
                        <div class="field">
                          <label class="switch">
                            <input name="status" type="checkbox" [(ngModel)]="coupon"  >
                            <span class="check"></span>
                            <span class="control-label">{{ coupon ? 'Activé' : 'Désactivé' }}</span>
                          </label>
                        </div>
                      </div>
                      
                      
                  </div><br></td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
 
                    <button class="button small orange --jb-modal" data-target="sample-modal-2" type="button" >
                      <span class="icon"><i class="mdi mdi-border-color"></i></span>
                    </button>
                    <button class="button small red --jb-modal" data-target="sample-modal" type="button" >
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td data-label="Nom">Karoui</td>
                <td data-label="Prénom">Sirine</td>
                <td data-label="Adresse">sirinekaroui@gmail.com</td>
                <td data-label="Âge">24</td>
                <td data-label="Created">
                  <small class="text-gray-500" title="Mar 7, 2021">Jeu 7, 2021</small>
                </td>
                <td data-label="statut">          <div class="field">
 
                    <div class="field-body">
                        <div class="field">
                          <label class="switch">
                            <input name="status" type="checkbox" [(ngModel)]="coupon"  >
                            <span class="check"></span>
                            <span class="control-label">{{ coupon ? 'Activé' : 'Désactivé' }}</span>
                          </label>
                        </div>
                      </div>
                      
                      
                  </div><br></td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
 
                    <button class="button small orange --jb-modal" data-target="sample-modal-2" type="button" >
                      <span class="icon"><i class="mdi mdi-border-color"></i></span>
                    </button>
                    <button class="button small red --jb-modal" data-target="sample-modal" type="button" >
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td data-label="Nom">Ben Mohamed</td>
                <td data-label="Prénom">Aymen</td>
                <td data-label="Adresse">Aymen@gmail.com</td>
                <td data-label="Âge">35</td>
                <td data-label="Created">
                  <small class="text-gray-500" title="Mar 7, 2021">Mar 7, 2021</small>
                </td>
                <td data-label="statut">          <div class="field">
 
                    <div class="field-body">
                        <div class="field">
                          <label class="switch">
                            <input name="status" type="checkbox" [(ngModel)]="couponfalse"  >
                            <span class="check"></span>
                            <span class="control-label">{{ couponfalse ? 'Activé' : 'Désactivé' }}</span>
                          </label>
                        </div>
                      </div>
                      
                      
                  </div><br></td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
 
                    <button class="button small orange --jb-modal" data-target="sample-modal-2" type="button" >
                      <span class="icon"><i class="mdi mdi-border-color"></i></span>
                    </button>
                    <button class="button small red --jb-modal" data-target="sample-modal" type="button" >
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td data-label="Nom">Hamed</td>
                <td data-label="Prénom">Mohamed</td>
                <td data-label="Adresse">mohamed@gmail.com</td>
                <td data-label="Âge">28</td>
                <td data-label="Created">
                  <small class="text-gray-500" title="Mar 7, 2021">Mar 7, 2021</small>
                </td>
                <td data-label="statut">          <div class="field">
 
                    <div class="field-body">
                        <div class="field">
                          <label class="switch">
                            <input name="status" type="checkbox" [(ngModel)]="coupon"  >
                            <span class="check"></span>
                            <span class="control-label">{{ coupon ? 'Activé' : 'Désactivé' }}</span>
                          </label>
                        </div>
                      </div>
                      
                      
                  </div><br></td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
 
                    <button class="button small orange --jb-modal" data-target="sample-modal-2" type="button" >
                      <span class="icon"><i class="mdi mdi-border-color"></i></span>
                    </button>
                    <button class="button small red --jb-modal" data-target="sample-modal" type="button" (click)="delete()" >
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          
 
      
        <div class="table-pagination">
          <div class="flex items-center justify-between">
            <div class="buttons">
              <button type="button" class="button active">1</button>
              <button type="button" class="button">2</button>
              <button type="button" class="button">3</button>
            </div>
            <small>Page 1 of 3</small>
          </div>
        </div>
      </div>
    </div>

 

    

    
  </section>

 

<div id="sample-modal" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sample modal</p>
    </header>
    <section class="modal-card-body">
      <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button class="button red --jb-modal-close">Confirm</button>
    </footer>
  </div>
</div>

<div id="sample-modal-2" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sample modal</p>
    </header>
    <section class="modal-card-body">
      <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button class="button blue --jb-modal-close">Confirm</button>
    </footer>
  </div>
</div>

</div>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="js/main.min.js?v=1628755089081"></script>


<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '658339141622648');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1"/></noscript>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
