body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.product-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
textarea {
    border: 1px solid #ccc; /* Ajoute un bord */
    padding: 8px; /* Ajoute un espacement intérieur */
    width: 100%; /* Ajuste la largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  }

  .is-expanded{
    height: 200%;
  }