/* You can add global styles to this file, and also import other style files */
section{
    margin-left: -25%;
 
}

.is-title-bar{
    margin-top: -7%;
}
.main-section{
    margin-top: -2.8%;
    
} 
